// heights
.hXL{height: $pxXL;}

// grid
.container {
  max-width: 80%;
  width: 100%;
  margin: auto;
}

// others
.overflowHidden { overflow: hidden; }

.poppins{
  font-family: 'Poppins', sans-serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}