// colors
$black: #313131;
$white: #ffffff;
$light_grey: #f4f4f4;

$light_green: #78BB78;

// fonts
$bold: 700;
$medium: 400;

// helpers variables
$shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.3);

// sizes
$pxS: 10px;
$pxM: 20px;
$pxL: 40px;
$pxXL: 80px;