body{
  main{
    section{
      &#pourquoi-informer{
        background-color: #1E667A;

        .flex.container{
          margin: 50px auto;
        }

        .grey-band{
          height: 60px;
          background-color: #5d919f;
        }

        .txt-container, .img-container{
          background-color: #1E667A;
        }

        .txt-container{
          p{
            width: 80%;
            margin: 60px 0;
            text-align: justify;
          }
        }
      }
    }
  }
}